<h1><strong>User info</strong></h1>
<%= attachment_image_tag user, :profile_image, format: 'jpeg',
    fallback: "no_image.jpg", size: "100x100" %>
<div class="container">
  <div class="row">

  </div>
</div>
<table class="table table-white">
  <tr>
    <th>name</th>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <th>introduction</th>
    <td><%= user.introduction %></td>
  </tr>
</table>

<p>
  <%= link_to '', edit_user_path(user.id), class:"w-100 fas fa-user-cog btn btn-white rounded border border-dark" %>
</p>

