<h1><strong>User info</strong></h1>

<!--profile_imageから画像挿入-->

<table>
  <tr>
    <th>name</th>
    <td><%= user.name %></td>
  </tr>
  <tr>
    <th>introduction</th>
    <td><%= user.introduction %></td>
  </tr>
</table>

<%= link_to '編集' %>