<div class="container mt-3">
  <div class="row">
    <div class="col-md-12">
      <h2><strong>Follow Users</strong></h2>
      <% if @users.exists? %>
        <table class="table table-white">
          <thead>
            <tr>
              <th><strong>image</strong></th>
              <th><strong>name</strong></th>
              <th></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <% @users.each do |user| %>
              <tr>
                <td>
                  <%= attachment_image_tag user, :profile_image, format:"jpeg", fallback:"no_image.jpg",
                      size:"50x50" %>
                </td>
                <td><%= user.name %></td>
                <td>フォロー数: <%= user.followings.count %></td>
                <td>フォロワー数: <%= user.followers.count %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        <p>ユーザーはいません</p>
      <% end %>
    </div>
  </div>
</div>